@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Potta+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
}

nav {
    background: #16a380;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo img {
    width: 14vw;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 80px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

nav ul li a:hover {
    color: white;
    font-weight: bolder;
}

.container {
    width: 90vw;
    height: 35vw;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.text {
    /* background-color: red; */
    width: 30%;
    margin-left: 200px;


}

.text h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

.text p {
    font-size: 26px;
    font-weight: 200;
}

.img {

    margin-right: 200px;
}

.img img {
    height: 30vw;
}

.btn {
    margin-top: 20px;
    background-color: #16a380;
    color: white;
    color: white;
    padding: 14px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.btn:hover {
    background-color: #17a380;
    color: white;
    font-weight: bolder;
}

.container2 {
    background-image: url(img.jpeg);
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text2 {
    /* background-color: red; */
    width: 20%;
    text-align: center;

}

.text2 h1 {
    margin-bottom: 5px;
    font-weight: 200;
    color: #3bcaa6;
}

.text2 p {
    color: white;
    font-weight: 300;
    margin-bottom: 5px;
}

.container3 {
    width: 100%;
    height: 60vh;
}

.container3 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.text3 {
    text-align: center;
    width: 50%;
}

.text3 h1 {
    margin-bottom: 15px;
    font-weight: 200;
}

.text3 p {
    line-height: 22px;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
}

.container4 {
    background-image: url(img.jpeg);
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;

}

.text4 {

    width: 40%;
    position: absolute;
    top: 15%;
    left: 30%;
    color: white;
}

.text4 h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

.text4 p {
    font-weight: 200;
    line-height: 26px;
}

.rimages {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    top: 35%;
    left: 23%;
}

.text5 {
    /* background-color: blue; */
    width: 425px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed white;
}

.text5 p {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
}

.text6 {
    position: absolute;
    top: 75%;
    left: 37%;
}

.text6 p {
    color: white;
    font-size: 15px;
    margin-bottom: 4px;
}